.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 8px;
}

.button:hover, .button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.mytable table td
{
    border: 2px solid black;
    height: 30px;
    padding: 2.5px;
}

.mytable table th
{
    border: 2px solid black;
    font-style: oblique;
    height: 20px;
    padding: 2.5px;
}

.mytable table
{
    border-collapse: collapse;
    margin: 10px auto;
    border: 3px solid black;
}


.sidebar_left
{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
    background: none;
    font-size: 32px;
    padding-left: 12px;
    padding-right: 12px;
    border: 3px solid rgb(112, 76, 182);
}

.app
{
    background: none;
}
